<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Screen Frontend</title>
    <link rel="stylesheet" href="../public/css/login.css">
  </head>
  <body>
    <h1>Gourp chat...</h1>
    <div class="containar">

      <form id="login">
        <label for="email">Enter email:</label>
      <input type="text" id="email" required/><br>
      
      <label for="pass">Password:</label>
      <input type="text" id="pass" required/><br>
      
      <input type="submit" value="Login"><br>
      <p>New User -<a href="../views/user.html"> Singup</a></p>
      <button><a href="../views/forgetPass.html">Forget Password</a></button>
    </form>
  </div>
    <script src="../public/js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  </body>
</html>
